<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eShop.shiratama.Dao.commodity.CommodityDao">
    <select id="getCommodityAllNumberOfPages" resultType="java.lang.Integer">
        select count(*) from commodity;
    </select>
    <select id="getCommodityInformation" resultType="com.eShop.shiratama.entity.CommodityBean">
        select id,title,carousel,level_two_classify,information,shop_id,status from commodity limit #{start},#{end};
    </select>

    <select id="getCommodityAllNumberOfPagesForClassify" resultType="java.lang.Integer">
        select count(*) from commodity where level_two_classify=#{classify};
    </select>

    <select id="getCommodityInformationForClassify" resultType="com.eShop.shiratama.entity.CommodityBean">
        select id,title,carousel,level_two_classify,information,shop_id,status from commodity where level_two_classify=#{classify}  limit #{start},#{end};
    </select>
</mapper>