<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eShop.shiratama.Dao.UsersDao">
    <insert id="insertUser">
        insert into users values (null,#{username},#{password},null,null,null,null);
    </insert>
    <select id="selectUser" resultType="com.eShop.shiratama.Bean.UsersBean">
        select * from users where username=#{username};
    </select>
</mapper>